{% extends "base.html" %}

{% block title %}{{first_name+" "+ last_name}} {% endblock %}

{% block content %}

<h2>User Details</h2>
<div><img src = {{picture}}></div>
<div> {{first_name + " " + last_name}}</div><br>
<form action = "/update/{{user_id}}" method = "GET">
<button>Update</button></form>
<form action = "/delete/{{user_id}}" method = "POST">
<button >Delete</button></form>

<ul> POSTS
{% for post in posts %}
<li><a href ="/users/posts/{{post.id}}">{{post.title}}</a></li>
{% endfor %}
</ul>
<form action = "/users/posts/{{user_id}}/create" method = "GET">
    <button>Add Post</button>
</form>
{% endblock %}

